<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6297b6">  <td>18/09/02 10:27:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_EditLead.EditLead(java.lang.String, java.lang.String)[pri:0, instance:tests.TC002_EditLead@527740a2]">EditLead</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/09/02 10:27:22</td>   <td>19029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_EditLead.EditLead(java.lang.String, java.lang.String)[pri:0, instance:tests.TC002_EditLead@527740a2]">EditLead</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/02 10:26:54</td>   <td>-8928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:tests.TC001_CreateLead@6d7b4f4c]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/02 10:27:14</td>   <td>10483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:tests.TC002_EditLead@527740a2]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/02 10:27:34</td>   <td>31299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:tests.TC002_EditLead@527740a2]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/02 10:26:49</td>   <td>-14025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@6d7b4f4c]">createLead</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/02 10:26:40</td>   <td>-23617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@6d7b4f4c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/02 10:26:55</td>   <td>-8126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC002_EditLead@527740a2]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/09/02 10:27:14</td>   <td>11211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC002_EditLead@527740a2]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/02 10:26:39</td>   <td>-24266</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:tests.TC001_CreateLead@6d7b4f4c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/09/02 10:26:55</td>   <td>-8164</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_EditLead.setData()[pri:0, instance:tests.TC002_EditLead@527740a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/02 10:26:38</td>   <td>-24889</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.TC001_CreateLead@6d7b4f4c]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/02 10:26:40</td>   <td>-23626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC001_CreateLead@6d7b4f4c]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/02 10:26:55</td>   <td>-8127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC002_EditLead@527740a2]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/02 10:27:14</td>   <td>11211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC002_EditLead@527740a2]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/09/02 10:27:35</td>   <td>32078</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:tests.TC001_CreateLead@6d7b4f4c]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
</table>
